@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.FAQ__answer {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
   
  .faq {
    box-sizing: border-box;
    font-family: "ABeeZee", sans-serif;
    line-height: 1.48;
    font-size: 16px;
    color: #333;
    background-image: url("./img/footerWall.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
   
  body *,
  body *::after,
  body *::before {
    box-sizing: inherit;
  }
   
  .container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
   
  .section__headline {
    font-family: "Varela Round", sans-serif;
    font-size: 62px;
    font-weight: light;
    color: #ff5555;
    text-align: center;
  }
   
  .FAQs__headline {
    font-family: "Times New Roman";
    text-align: left;
    padding-left: 15px;
    font-size: 1.5em;
    margin-top: 1.5em;
    font-weight: bold;
  }
   
  .FAQs {
    margin:15px 0;
    padding: 0 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }
   
  .FAQ {
    font-family: "Times New Roman";
    list-style: none;
    margin: 10px 0 5px;
  }
   
  .FAQ__title {
    color: black;
    font-family: "Times New Roman";
    cursor: pointer;
    font-weight: 500;
    /* background: white; */
    z-index: 10;
    position: relative;
    font-size: 1.3em;
  }
  .FAQ__title:hover {
    text-decoration: underline;
    font-weight: bold;
  }
  .FAQ__title::after {
    white-space: nowrap;
    font-weight: 300;
    padding-left: 5px;
    opacity: 0;
    -webkit-transform-origin: 11px;
            transform-origin: 11px;
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    display: none;
    content: ">";
  }
   
  .FAQ--active .FAQ__title {
    color: #ff5555;
    font-weight: bolder;
  }
  .FAQ--active .FAQ__title::after {
    opacity: 1;
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    display: inline-block;
  }
   
  .FAQ__answer {
    font-weight: normal;
    margin-top: -10%;
    transition: all 0.1s;
    z-index: 1;
    font-size: 0.9em;
    color: #505050;
    font-size: 1.7rem;
  }
   
  .FAQ--active .FAQ__answer {
    border-left: 4px solid blueviolet;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: all 0.2s;
    padding: 20px;
    background-color:whitesmoke;
  }
   
  @media (min-width: 780px) {
    .FAQs {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      height: auto; 
    }
   
    .FAQs::before {
      opacity: 0.2;
    }
   
    .FAQ {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .FAQ .FAQ__title {
        border-radius: 2rem;
        width: 40%;
        padding-right: 40px;
        display: inline-block;
        border: 1px solid;
        text-align: center;
        padding: 1.3rem;
        background-color: whitesmoke;
    }
    .FAQ .FAQ__title::after {
      display: none;
    }
    .FAQ .FAQ__answer {
      font-size: 2rem;
      position: absolute;
      background-color: whitesmoke;
      top: 49%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 50%;
      width: 50%;
      border-left-color: #ff5555;
      border-top-color: #f1f2f3;
      border-radius: 1.5rem;
      text-align: center;
    }
  }
